<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.surfcourse.nek.moviemusic">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_blue"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainpage.MainPageActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".mainpage.MainPageActivity"/>
        </activity>
        <activity android:name=".SearchResultActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainpage.MainPageActivity"/>
        </activity>
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent"/>
        <activity android:name=".search_res.SearchResActivity">
        </activity>
    </application>

</manifest>